<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Wanda Telescope{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block additional_css %}{% endblock %}
    <meta name="theme-color" content="#111111">
</head>
<body>
    <header>
        <h1>Wanda Telescope</h1>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!-- Common Scripts -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax-utils.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>